<link rel="stylesheet" href="https://devspace.cloud/quickstart.css">

<img src="https://devspace.cloud/img/congrats.gif" />
<h1>You deployed this project with DevSpace!</h1>
<div>
    <h2>Now it''s time to start the development mode:</h2>
    <ol>
        <li>Press CTRL+C or ENTER to terminate <code>devspace open</code></li>
        <li>Run: <code>devspace dev</code></li>
        <li>Edit this text in <code>app/views/pages/home.html.erb</code> and save the file</li>
        <li>Reload browser to see how <code>rails</code> updated your project</li>
    </ol>
</div>